body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.flex {
    display: flex;
    align-items: baseline;
}
.flex.vcenter {
    align-items: center;
}
.gray {
    color: #ccc;
}

.mdl-button--fab {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

a.mdl-navigation__link > i.material-icons {
    position: relative;
    top: 7px;
    right: 7px;
    line-height: 0.0;
}
a.mdl-navigation__link.selected {
    background-color: #d0d0d0;
    color: #222 !important;
}

#blank-poster {
    margin-top: -2em;
    height: 100vh;
    background-color: #7986CB;
}

main {
    background-color: #eee;
}

.mdl-card {
    min-height: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
}
.card-button-border {
    border-top: 1px solid #ccc;
}
.book-card, .def-card {
    margin: 0.5em;
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    padding: 1em;
}
.book-card .book-author {
    color: #ccc;
    letter-spacing: 0.2em;
    text-align: right;
}

.dict-card {
    width: 100%;
}
.def-card{
    margin: 1em;
    width: calc(100vw - 2em);
}

.add-card {
    padding: 1em;
    height: 100vh;
    width: 100%;
}
@media (min-width: 600px) {
    .add-card {
        margin: 10vh auto;
        padding: 2em;
        width: 450px;
        height: initial;
    }
}

.add-input-container, .add-button-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.list-card {
    width: 100%;
    max-width: 960px;
    margin: 1em auto;
}
ul.mdl-list {
    padding: 0;
    margin: 0;
    line-height: 32px;
}
ul.mdl-list > li {
    list-style: none;
    border: 1px solid #ccc;
    border-width: 1px 0 0 0; 
    padding: 12px 8px 12px 12px;
    display: flex;
}
ul.mdl-list > li:first-child {
    border-width: 0;
}
ul.mdl-list > li:active {
    background-color: #fcfcfc;
}

li .book-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
li .book-title {
    display: inline-block;
}
li .attribution {
    color: #aaa;
    margin: 4px 0 4px 1.5em;
    display: inline-block;
}
li .book-author {
    display: inline-block;
    color: #777;
    margin-left: 0.5em;
}

.spacer {
    flex-grow: 1;
}
.small-spacer {
    display: inline-block;
    width: 8px;
}
.small-vspacer {
    height: 8px;
}

.mdl-textfield { 
    min-width: 300px;
    flex-basis: 300px;
    flex-grow: 1;
}
.search-input {
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
