#blank-poster {
    margin-top: -2em;
    height: 100vh;
    background-color: #90a4ae;
}

.notes-area {
    width: 100%;
    padding: 0;
}
.notes-area > label {
    top: 4px;
}
.notes-area > label:after {
    bottom: 0;
}

.clock {
    font-size: 72px;
}

ul.mdl-list {
    padding: 0;
    margin: 0;
    line-height: 32px;
}
ul.mdl-list > li {
    list-style: none;
    border: 1px solid #ccc;
    border-width: 1px 0 0 0; 
    padding: 1em;
    display: flex;
}
ul.mdl-list > li:first-child {
    border-width: 0;
}
ul.mdl-list > li:active {
    background-color: #fcfcfc;
}

li .book-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
li .book-title {
    display: inline-block;
}
li .attribution {
    color: #aaa;
    margin: 4px 0 4px 1.5em;
    display: inline-block;
}
li .book-author {
    display: inline-block;
    color: #777;
    margin-left: 0.5em;
}

.search-input {
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}

video {
    height: 100%;
    width: 100%;
}

img.showPicture {
    min-width: 100%;
    min-height: 100%;
}

div.showPictureContainer {
    overflow: auto;
}
